{% extends "notificaciones/emails/base.html" %}

{% block contenido %}

<p>

Estimado(a)

<b>{{ usuario.get_nombre_completo }}</b>

</p>

<p>

{{ mensaje }}

</p>

{% if solicitud %}

<div class="info">

<table>

<tr>

<td class="label">

Solicitud

</td>

<td>

{{ solicitud.numero }}

</td>

</tr>

<tr>

<td class="label">

Flujo

</td>

<td>

{{ solicitud.get_flujo_display }}

</td>

</tr>

<tr>

<td class="label">

Estado

</td>

<td>

{{ solicitud.get_estado_display }}

</td>

</tr>

<tr>

<td class="label">

Solicitante

</td>

<td>

{{ solicitud.solicitante.get_nombre_completo }}

</td>

</tr>

</table>

</div>

{% endif %}

{% if app_url %}

<a

class="button"

href="{{ app_url }}"

>

Entrar al Sistema

</a>

{% endif %}

{% endblock %}